ul
{
  list-style-type: none;
  margin: 10;
  padding: 0;
}
li
{
  display: inline;
  margin: 10;
}
body
{
  margin:0px;
  height:100%;
}
.drawer_container{
  background:rgb(224, 254, 255);
  width: 100%;
  height:100%;
  border: 0px solid #555;
}
.person_icon{
  font-size: 100px;
}
mat-drawer{
  width: 25%;
}