<div>
  <h2 style="text-align:center">欢迎来到开花论坛</h2>
  <ul>
    <li>
      <mat-card style="background:rgb(27, 158, 240)">
        <mat-card-content>
          <span>标题</span>
          <span style="float:right">开贴时间</span>
        </mat-card-content>
      </mat-card>
    </li>
    <li *ngFor="let toppost of topposts">
      <mat-card tabindex="0" routerLink="/community/{{community}}/post/{{toppost.id}}" style="background:rgb(99, 193, 252)">
        <mat-card-content>
          <span>{{toppost.title}}</span>
          <span style="float:right">{{toppost.initTime}}</span>
        </mat-card-content>
      </mat-card>
    </li>
    <mat-divider></mat-divider>
    <li *ngFor="let post of nowposts">
      <mat-card tabindex="0" routerLink="/community/{{community}}/post/{{post.id}}" style="background:rgb(120, 196, 243)">
        <mat-card-content>
          <span>{{post.title}}</span>
          <span style="float:right">{{post.initTime}}</span>
          <button mat-button *ngIf="isAdmin()" (click)="topThePost(post)">置顶</button>
          <button mat-button *ngIf="this.editMode" (click)="deletePost(post)">删除</button>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
  <button *ngIf="nowPage>0" (click)="prePage()">上一页</button>
  <button style="float:right" (click)="nextPage()">下一页</button>
  <!-- <mat-paginator color="primary" [length]="200" [pageSize]="10" (page)="pageEvent =changePage($event)">
  </mat-paginator> -->
  <div>
    <button mat-raised-button color="primary" routerLink="/community/{{community}}/pullpost">发帖</button>
    <button mat-raised-button color="primary" (click)="startEditMode()" *ngIf="isAdmin()">删帖</button>
  </div>
  <hr />
  <!--
  <div>
    <p>标题</p>
    <input #postTitle />
    <p>正文</p>
    <textarea #postContent></textarea>
    <button mat-raised-button color="primary"
      (click)="pullPost(postTitle.value,postContent.value);postTitle.value='';postContent.value=''">发表新帖</button>
    <button mat-raised-button color="primary" (click)="goBack()">返回</button>
  </div>
  -->
</div>
