<div>
  <!--
  <mat-grid-list cols='3' rowHeight="2:1">
    <mat-grid-tile>板块1</mat-grid-tile>
    <mat-grid-tile>板块2</mat-grid-tile>
    <mat-grid-tile>板块3</mat-grid-tile>
    <mat-grid-tile>板块4</mat-grid-tile>
    <mat-grid-tile>板块5</mat-grid-tile>
    <mat-grid-tile>板块6</mat-grid-tile>
  </mat-grid-list>
  -->
  <mat-card tabindex="0"><button mat-button routerLink="/post">风土人情</button></mat-card>
  <mat-divider [vertical]="true" [inset]="true"></mat-divider>
  <mat-card tabindex="0"><button mat-button routerLink="/post">网络游戏</button></mat-card>
  <mat-card tabindex="0"><button mat-button routerLink="/post">编程交流</button></mat-card>
</div>